.img-responsive {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}


@media only screen and (max-width: 600px){
  .square {
    width: 50%;
    float: left;
    margin-right: 20px;
  }
}

.rectangle {
max-height: 200px;
}
